<footer class="footer">

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} <a href="{% url 'cars:index' %}">opensooq Corp.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://www.facebook.com/opensooq" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.twitter.com/opensooq" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.googleplus.com/opensooq" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin/opensooq" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>