{% extends 'base.html' %}
{% load humanize %}
{% block title %} Dashboard {% if request.user.is_authenticated %} - {{ request.user|lower }} {% endif %}{% endblock %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>


{% block banner %}
<!-- Sub banner start -->
    <div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'cars:index' %}">Home</a></li>
                {% if request.user.is_authenticated %} <li class="active">{{ request.user|title }}</li>
                {% else %}
                    <li> / <a href="{% url 'contacts:login' %}">Login</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
{% endblock %}

{% block content %}
<!--   Dashboard Start   -->
    <div class="container mt-50 mb-50">
	<div class="main-title" style="text-align:left !important;">
            {% if request.user.is_authenticated %} <h1>Welcome <span>{{ request.user|title }}</span></h1> {% endif %}
            <p>Here are the cars that you have inquired about</p>
        </div>
    {% if request.user.is_authenticated %}
        {% if cars %}
	    <table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
        {% for car in cars %}
		    <tr>
		  <th scope="row">1</th>
		  <td>{{ car.car_title }}</td>
		  <td>{{ car.location }}</td>
		  <td>${{ car.price|floatformat:2|intcomma }}</td>
		  <td><a href="{% url 'cars:car-details' pk=car.pk %}" class="btn btn-outline-dark">View Car</a></td>
		</tr>
        {% endfor %}
        </tbody>
	</table>
    {% else %}
        <h3>You Have No Cars!</h3>
    {% endif %}
    {% else %}
        <a href="{% url 'contacts:login' %}">Login</a>
    {% endif %}
</div>

<!--   Dashboard End   -->
{% endblock %}