{% load static %}
<!DOCTYPE html>
<html lang="en">

<title>{% block title %} {% endblock %} </title>

{% block head %}
    {% include "_partials/head.html" %}

{% endblock %}

<body>
<div class="page_loader"></div>

<!-- Main header start -->
{% block header %}
    <header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'cars:index' %}">
                <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'cars:index' %}" id="navbarDropdownMenuLink">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/cars/' %}active{% endif %}" href="{% url 'cars:cars' %}">
                            Cars
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'cars:about' %}">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/services/' %}active{% endif %}" href="{% url 'cars:services' %}">
                            Services
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if request.path == '/contact-us/' %}active{% endif %}" href="{% url 'contacts:contact-us' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="{% static 'pdf/rules_and_regulations.pdf' %}">
                            Rules
                        </a>
                    </li>
                    <li class="nav-item dropdown m-hide">
                        <a href="#full-page-search" class="nav-link h-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

{% endblock %}
<!-- Main header end -->

<!-- Banner start -->
{% block banner %}

{% endblock %}
<!-- Banner end -->

<!-- Search box 2 end -->
{% block search %}

{% endblock %}

{% block content %}

{% endblock %}

<!-- Featured car start -->
{% block featured_cars %} {% endblock %}
<!-- Featured car end -->

<!-- Rent car start -->

{% block rent_cars %} {% endblock %}

<!-- Rent car end -->


<!-- Our team start -->
{% block team %} {% endblock %}
<!-- Our team end -->


<!-- Intro section start -->
{% include "_partials/intro.html" %}
<!-- Intro section end -->


<!-- Footer start -->

{% include "_partials/footer.html" %}
<!-- Footer end -->

<!-- Full Page Search -->
{% include "_partials/search.html" %}


<!-- Car Overview Modal -->



<!-- JS libs -->
{% include "_partials/js_libs.html" %}

</body>

</html>