{% extends 'base.html' %}
{% load humanize %}
{% block banner %}

    <div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'cars:index' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block search %}
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="dropdown bootstrap-select search-fields"><select class="selectpicker search-fields" name="select-brand" tabindex="-98">
                                    <option disabled="disabled" selected="selected">Select Brand</option>
                                    {% for brand in brands %}
                                        <option>{{ brand }}</option>
                                    {% endfor %}
                                </select><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="dropdown bootstrap-select search-fields"><select class="selectpicker search-fields" name="select-make" tabindex="-98">
                                    <option disabled="disabled" selected="selected">Select Make</option>
                                    {% for make in makes %}
                                        <option>{{ make }}</option>
                                    {% endfor %}
                                </select><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="dropdown bootstrap-select search-fields"><select class="selectpicker search-fields" name="select-location" tabindex="-98">
                                    <option disabled="disabled" selected="selected">Select Location</option>
                                    {% for location in locations %}
                                        <option>{{ location }}</option>
                                    {% endfor %}
                                </select><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="dropdown bootstrap-select search-fields"><select class="selectpicker search-fields" name="select-year" tabindex="-98">
                                    <option disabled="disabled" selected="selected">Select Year</option>
                                    {% for year in years %}
                                        <option>{{ year }}</option>
                                    {% endfor %}
                                </select><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="dropdown bootstrap-select search-fields"><select class="selectpicker search-fields" name="select-type" tabindex="-98">
                                    <option disabled="disabled" selected="selected">Select Type Of Car</option>
                                    {% for use in uses %}
                                        <option>{{ use }}</option>
                                    {% endfor %}
                                </select><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="dropdown bootstrap-select search-fields"><select class="selectpicker search-fields" name="transmission" tabindex="-98">
                                    <option disabled="disabled" selected="selected">Transmission</option>
                                    {% for transmission in transmissions %}
                                        <option>{{ transmission }}</option>
                                    {% endfor %}
                                </select><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">


                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

    <div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

            <div class="row">
                {% for car in cars %}
                    <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'cars:car-details' pk=car.pk %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100 clear-img" src="{{ car.image.url }}" alt="car">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{ car.miles|intcomma }} km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{ car.year }}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{ car.transmission }}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">

                                    <a class="overlap-btn" data-toggle="modal" data-target="#{{ car.pk }}">
                                        <i class="fa fa-eye-slash"></i>
                                    </a>
                                    <div class="car-magnify-gallery">

                                            <a href="{{ car.image.url }}" class="overlap-btn" data-sub-html="<h4>{{ car.car_title }}</h4><p>{{ car.description }}</p>">

                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{ car.image.url }}" alt="hidden-img">
                                            </a>

                                            {% if car.image2 %}
                                            <a href="{{ car.image2.url }}" data-sub-html="<h4>{{ car.car_title }}</h4><p>{{ car.description }}</p>">
                                                <img class="hidden" src="{{ car.image2.url }}" alt="hidden-img">
                                            </a>
                                            {% endif %}

                                            {% if car.image3 %}
                                            <a href="{{ car.image3.url }}" data-sub-html="<h4>{{ car.car_title }}</h4><p>{{ car.description }}</p>">
                                                <img class="hidden" src="{{ car.image3.url }}" alt="hidden-img">
                                            </a>
                                            {% endif %}

                                            {% if car.image4 %}
                                            <a href="{{ car.image4.url }}" data-sub-html="<h4>{{ car.car_title }}</h4><p>{{ car.description }}</p>">
                                                <img class="hidden" src="{{ car.image4.url }}" alt="hidden-img">
                                            </a>
                                            {% endif %}

                                            {% if car.image5 %}
                                            <a href="{{ car.image5.url }}" data-sub-html="<h4>{{ car.car_title }}</h4><p>{{ car.description }}</p>">
                                                <img class="hidden" src="{{ car.image5.url }}" alt="hidden-img">
                                            </a>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'cars:car-details' pk=car.pk %}">{{ car.car_title }}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'cars:car-details' pk=car.pk %}">
                                <i class="flaticon-pin"></i>{{ car.miles|intcomma }} {{ car.state }} St. {{ car.city }} City,
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{ car.body_style }}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">${{ car.price|floatformat:2|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
                {% include "_partials/car_modal.html" %}
            </div>



    </div>
</div>

{% endblock %}